ros-jazzy-geometry-msgs==5.3.6
gymnasium==1.2.3
mujoco==3.5.0
stable_baselines3==2.7.1
pyyaml==6.0.3
osrf_pycommon==2.0.2
# Make sure you install ROS 2 using https://docs.ros.org/en/rolling/Installation/Ubuntu-Install-Debs.html and set up environment first